body{
    margin: 0;
    padding: 0;
}

nav{
  background-color: #0EA293;
  display: flex;
  justify-content: space-between;
}

.SignUpBody{
    margin:80px auto ;
}

footer{
    background-color: #0EA293;
    display: flex;
    justify-content: space-between;
}

.top-header-text{
    color: #454545;
    font-family: 'Marcellus SC', serif;
}

.SignUpBtn{
    background-color: #0EA293;
    color: #454545;
}


    /* SIGN IN */

 .SignInBody{
    margin: 150px auto;
 }   